.slider_wrapper {
    position: relative;
    max-width: 1320px;
    margin-inline: auto;
}

.product_slider {
    width: 100%;
    margin-inline: auto;
    overflow-x: hidden;
}

.container {
    padding: 16px 20px;
    margin-inline: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


.previous_button,
.next_button {
    width: 56px;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: 2;
    background-color: transparent;

    @media (max-width: 768px) {
        display: none;
    }

}

.previous_button {
    bottom: 50%;
    transform: translateY(50%) rotate(180deg);
    left: -40px;
}

.next_button {
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
}