@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.counter {
    width: 110px;
    height: 36px;
    border-radius: 4px;
    display: flex;   
    align-items: center;
    justify-content: space-around;
    border: 1px solid #041E50;
    font-family: 'Montserrat', sans-serif;
}