.product_display {
    margin-inline: auto;   
}

.container {
    width: 1298px;
    margin-inline: auto;

    @media (max-width: 1366px) {
        width: 966px;
    };

    @media (max-width: 1024px) {
        width: 756px;
    }

    @media (max-width: 768px) {
        width: 1298px;
        width: 100%;
    }
}