.card { 
    width: 270px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0px 16px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    @media (max-width: 1024px) {
        width: 200px;
        height: auto;
    }
}

.container {
    width: 100%;
    height: 100%;
    padding: 15px 12px; 

}

.image_box {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.image {
    width: 100%;
    height: auto;
}

.name {
    height: 66px;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.payment_info {
    padding-block: 4px 12px;

}

.previous_price {
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    line-height: 24px;
    padding-bottom: 3px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    color: #3F3F40;
    line-height: 30px;
    padding-bottom: 4px;
}

.conditions {
    font-size: 12px;
    font-weight: 400;
    color: #3F3F40;
    padding-bottom: 6px;
}

.shipping {
   font-size: 12px; 
   font-weight: 400;
   color: $accent-color;
}

.btn {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 11px;
    border-radius: 4px;
    width: 100%;
}


