.header_tag {
    max-width: $max-width;
    margin-inline: auto;
    

    @media (max-width: 1280px) {
        padding-inline: 10px;
    }
}

.navigation {
    height: 72px;

    @media(max-width: 768px) {
        border-bottom: 1px solid #F0F0F0;
    }
}

.container {
    height: 100%;
    width: calc($max-width - 112px);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 1280px) {
        width: min(100%, 1150px);
    }
   
}

.logo{
    width: 139px;
    object-fit: contain;

    @media(max-width: 768px) {
        width: 90px;
    }
}

.nav_items_container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.user_buttons {
    display: flex;
    gap: min(3vw, 36px);
    align-items: center;

    @media(max-width: 768px) {
       display: none;
    }
}

.menu {
    display: none;
    
    @media(max-width: 768px) {
        display: block;
     }
}

.menu_icon_wrapper {
    position: relative;
    width: 36px;
    height: 42px;
}

.menu_icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}