.left_arrow,
.right_arrow {
    width: 56px;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: 1;
    background-color: transparent;

    @media (max-width: 768px) {
        display: none;
    }
}

.left_arrow {
    bottom: 50%;
    transform: translateY(50%) rotate(180deg);
    left: -40px;
}

.right_arrow {
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
}


.blue_arrow {
    background-color: #FFFFFF;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        display: none;
    }
}

.blue_left_arrow {
    bottom: 50%;
    transform: translateY(50%) rotate(180deg);
    left: 0;
}

.blue_right_arrow {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
