.slider_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.product_slider {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: flex;
}